/cake_2_0/
/GreaseMonkey/
/SiteV3old/
/other/
/www/
/jpgraph/
/SiteV3/oldSites/
*/nbproject/
*.zip
*.7z
VMs
*Thumbs.db
/Site_v4/SiteV3_original/nbproject/private/
/V3CoreFiles/
Site_v4/static/img/*
Images/bannerImage.doc
/Tests/
