/* CSS file for Site v3 */
#background {
	margin-left:auto;
	margin-right:auto;
	margin-top:1px;
	background-color: #D7E2D8;
	background-image:url('../img/background.jpg');
	background-repeat:no-repeat;
	background-position:center top;
}
#page {
	margin: 0px auto;
	color: black;
	background-color: white;
	padding: 0;
	width: 1012px;
	border: 1px solid #0B6121;
}

body {
	color: black;
	background-color: rgb(243,242,235);
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 73%;	/* Enables font size scaling in MSIE */
	margin: 0;
	padding: 0;
}
html > body {
	font-size: 9pt;
}

.big {
	font-size: 150%;
}


/******************Header***************************/
#header {
	font-family: arial;
	color: #EFEFFB;
	width: 1012px;
	background-color:#0B6121;
}

#header table	{
	font-size: 150%;
	padding-top: 5px;
}

#header img	{
	border: none;
}

.subHeader {
	color: white;
	float: left;
	clear: left;
	color: #41FC08;
	background-color: black;
	font-size: 115%;
	margin: 0;
	padding: 6px;
	width: 200px;
}

.subHeaderR {
	text-align: right;
	color: white;
	background-color: black;
	font-size: 115%;
	margin: 0;
	padding: 6px;
}

/******************Sidebar***************************/
.leftSideBar {
	width: 124px;
	float: left;
	background-color: #FFFBF2;
}

.leftSideBar .sideBarTitle {
	color: rgb(44,44,34);
	background-color: #CECBD0;
	font-weight: bold;
	margin: 0;
	padding: 6px;
}

.leftSideBar ul {
	list-style-type: none;
	list-style-position: outside;
	margin: 0.1em;
	padding: 0;
}

.leftSideBar li {
	margin: 0 0 0 0.2em;
	padding: 0;
}

.leftSideBar a {
	color: rgb(64,64,64);
	background-color: transparent;
	text-decoration: none;
	display: block;
	padding: 0.33em;
}

.leftSideBar a:visited {
	color: #607080;
	background-color: transparent;
	text-decoration: none;
}

.leftSideBar a:hover {
	color: #357C23;
	background-color: rgba(169,197,204,0.5);
	text-decoration: none;
}

.leftSideBar .sideBarText {
	margin: 0.4em;
	padding: 0;
	display: block;
	font-weight: bold;
}

.leftSideBar .curr {
	background-color: rgba(19,197,10,0.11);
	font-weight: bold;
	padding: 0.4em;
}

/******************Info boxes***************************/
.statusBox {
	font-size: 105%;
	font-family: arial, verdana, helvetica, sans-serif;
	width: 835px;
	margin: 2px 4px 3px 4px;
	padding: 0.4em;
	text-align: center;
}

.warning {
	color: #310;
	background-color:#f4afb1;
	border: 2px solid #d58;
}

.info {
	color: #031;
	background-color:#aff4b1;
	border: 1px solid #7ca;
}

/******************Main***************************/
#main {
	font-family: "Trebuchet MS", verdana, helvetica, arial, sans-serif;
	font-size: 110%;
	color: #000000;
	width: 883px;
	margin-left:120px;
	padding: 3px 2px 2px 7px;
	background-color:#F2FAFD;
	min-height: 800px;
}

#main a {
	color: #0B610B;
	background-color: transparent;
	text-decoration: underline;
}

#main form {
	display: inline;
}

#main h1 {
	color: #15866A;
	background-color: transparent;
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 170%;
	font-weight: bold;
	margin: 0.5em 0.3em 0.3em 0.3em;
	padding: 0.2em 0.2em 0.2em 0.2em;
	border-top: 1px solid rgb(60,210,40);
}

#main h2 {
	color: #168843;
	background-color: transparent;
	font-size: 140%;
	font-weight: bold;
	margin-left: 0.4em;
}

#main h3 {
	color: #05664A;
	background-color: transparent;
	font-size: 120%;
	font-weight: bold;
	margin-left: 0.5em;
}

#main a:hover {
	text-decoration: none;
}

abbr {
	border-bottom: 1px dotted;
}

p {
	margin: 1em 0 1.5em 0;
	padding: 0;
}

dt {
	font-size: 110%;
}
dl {
	margin: 0.7em;
}

button {
	margin: 0.6em;
	display: block;
	padding: 0.3em;
}

select {
	 padding: 0.25em;
}

#main a.arrow {
	text-decoration: none;
	color: #b87;
	font-size: 130%;
}
#main a.arrow:hover {
	color: #f33;
}

.tblfoot {
	font-weight: bold;
	background-color: #BDB;
}

.rightPad {
	margin-right: 19px;
}

thead {
	color: black;
	background-color: #DBEBEE;
	text-align: left;
	font-weight: bold;
	font-size: 110%;
}

.table-head {
	background-color: #BDCDF7;
	font-weight: bold;
	font-size: 123%;
}

.table-mainFoot {
	margin: 20px 1px;
	text-align: left;
	background-color: #E4FDE7;
	border: 1px solid #2D851B;
}

.table-mainFoot td {
	border: 1px solid #2D851B;

}

.table-main {
	text-align: left;
}

.tdmain {
	padding: 10px;
}

table tbody tr.current, #current_month .month_multispan {
	background-color: #CCF5B1;
}

.td12 {
	border: solid 1px rgb(157,172,238);
	text-align: center;
}

.td6 {
	border: solid 1px #9A83B0;
	text-align: center;
}

.table2 {
	border: ridge 6px #2E9D30;
	text-align: left;
}

table {
	border: 2px solid rgb(175,175,175);
	border-spacing: 0px;
	margin: 2px;
	color: black;
	background-color: rgb(233,232,225);
}
tbody tr {
	background-color: #eee;
	height: 2em;
}
tbody tr:nth-child(2n) {
	background-color: white;
}
tbody tr:hover {
	background-color: rgba(235, 175, 206, 0.34);
}
.td14 {
	border: solid 1px #D8CEF6;
	border-spacing: 1px;
	text-align: center;
}

.td10 {
	border: solid 1px rgb(157,231,157);
	border-spacing: 1px;
	text-align: center;
}

.td13 {
	border: solid 1px rgb(255,151,151);
	border-spacing: 1px;
	text-align: center;
}

td {
	border: solid 1px #D8D1C6;
	padding: 2px 3px;
	text-align: center;
}
td:first-child {
	font-weight: bold;
}

td.month_multispan {
	background-color: #ddd;
}
td.month_multispan.odd {
	background-color: #bbb;
}

.td16 {
	border: solid 1px #9F81F7;
	border-spacing: 1px;
	text-align: center;
}

.td18 {
	border: solid 1px #F2F5A9;
	border-spacing: 1px;
	text-align: center;
}

.td19 {
	border: solid 1px #CEF6F5;
	border-spacing: 1px;
	text-align: center;
}

.td20 {
	border: solid 1px #868A08;
	border-spacing: 1px;
	text-align: center;
}

.td4e {
	border-left: solid 2px rgb(143,208,246);
	border-spacing: 4px;
}

.td4C {
	color: #2E0A10;
	text-align: center;
	border: solid 1px #CAB99D;
}

.td10C {
	color: #2D851B;
	text-align: center;
	border: solid 1px #CAB99D;
}

.td14C {
	color: #DF7401;
	text-align: center;
	border: solid 1px #CAB99D;
}

.td12C {
	color: #3567EF;
	text-align: center;
	border: solid 1px #CAB99D;
}

.td13C {
	color: #DA1313;
	text-align: center;
	border: solid 1px #CAB99D;
}

.td16C {
	border: solid 1px #CAB99D;
	color: #7055BF;
	text-align: center;
}

.td18C {
	border: solid 1px #CAB99D;
	color: #69611A;
	text-align: center;
}
.td19C {
	border: solid 1px #CAB99D;
	color: #1B6A75;
	text-align: center;
}
.td20C {
	border: solid 1px #CAB99D;
	color: #626412;
	text-align: center;
}

/******************Footer***************************/
#footer {
	font-family: arial;
	color: #000000;
	width: 1012px;
	background-color:#F2F5A9;
	text-align: center;
	padding: 3px 0px 3px 0px;
}

#footer a {
	color: black;
	background-color: transparent;
	text-decoration: underline;
	font-weight: bold;
}

#footer a:visited {
	color: rgb(112,128,144);
	background-color: transparent;
	text-decoration: underline;
	font-weight: bold;
}

#footer a:hover {
	text-decoration: none;
}

.aboutTbl {
	margin: 0.7em;
}

.aboutTbl td {
	text-align: center;
	padding: 0.3em 0.8em;
	border: solid 1px #CAB99D;
	border-spacing: 1px;
}

.aboutTbl tfoot {
	background-color: #A5DF40;
	font-weight: bold;
}

/* PHOTO ALBUMS */
.album_cover {
	width: 200px;
	height: 150px;
	border: 1px solid #152;
}
#slideshow_control button {
	display: inline-block;
}
.large_photo .img_holder {
	display: inline-block;
	height: 640px;
}
.large_photo img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}
.mini_photo {
	width: 220px;
}

.about_photo {
	margin: 0.2em;
	width: 420px;
}
.about_photo_solo {
	margin: 0.8em;
	width: 840px;
}

#contact_form {
	width: 600px;
}

.loading {
	background-image: url('../img/loader.gif');
	background-repeat: no-repeat;
}

input[type=submit] {
	padding: 0.3em;
	margin: 0.1em;
}

#email_address {
	color: blue;
}

.climate_graph {
	height: 400px;
	width: 850px;
	display: block;
	margin: 1em;
}



/*
    Document   : valcolstyle
    Created on : 20-Apr-2013, 15:15:25
    Author     : Ben LR
    Description: CSS file for summary and detailed historical reports
*/
.labels {
	background-color: #666666;
	color: #cccccc;
	border: 1px solid #222222;
	text-align: center;
	padding: 2px;
	font-size: 110%;
}

.invalid {
	background-color: #a6abad;
	color: #a6abad;
	border: 1px solid #6C8288;
}

.test {
	font-size: 120%;
	color: green;
	font-weight: bold;
}

.large {
	font-size: 120%;
}

.rep {
	font-size: 130%;
	color: #8904B1;
	font-weight: bold;
}


.labels2 {
	background-color: #666666;
	color: #cccccc;
	border: 1px solid #222222;
	text-align: center;
	font-size: 110%;
	padding: 2px;
	border-left: 2px solid #2A0A1B;
}

.tableheading {
	background-color: #A587A4;
	color: black;
	border: 1px solid #222222;
	text-align: center;
	padding: 2px;
	font-size: 150%;
	font-weight: bold;
}

.title {
	color: #B43104;
	text-align: center;
	padding: 2px;
	font-size: 170%;
	font-weight: bold;
}

.reportttl {
	color: black;
	background-color: #DBEBEE;
	text-align: center;
	font-weight: bold;
	font-size: 110%;
}

.reportttl2 {
	border: 1px solid #222222;
	border-top: 4px ridge black;
}

.reportday {
	background-color: #ccc;
	border: 1px solid #6C8288;
	text-align: center;
	padding: 2px;
}

.raintr { background-color: #CECEF6; }

.reportday2 {
	border: 1px solid #6C8288;
	text-align: center;
	padding: 2px;
	background-color: #A4A4A4;
	border-right: 2px solid #2A0A1B;
}

.getreportdtbxfloat {
	float: right;
	padding: 0px 5px 0px 5px;
	border: 1px ridge #6C8288;
	background-color: #666666;
	color: #FFFFFF;
}

.getreportdtbx {
	font-size: 100%;
	font-weight: bold;
	padding: 0px;
	text-align: center;
}

.dev {
	padding: 5px 0px 10px 0px;
	font-size: 75%;
}

.separator {
	background-color: #ffffff;
}


.yeartotals {
	border: 1px solid #222222;
	text-align: center;
	background-color: #CCFFbb;
	font-weight: bold;
	font-size: 99%;
}

.noday {
	background-color: #DEDEDE;
	background-repeat: repeat-x;
}

.button {
	font-family: arial, verdana, ms sans serif;
	font-weight: bold;
	font-size: 9px;
	width: 65px;
	height: 38px;
	vertical-align: middle;
	padding: 0px;

}

.infotext {
	background-color: #ccffff;
	font-weight: bold;
	border: 1px solid #666666;
}


/* AUTO-GENERATED */
.tmin {color: #33f;}
.tmax {color: orange;}
.tmean {color: #aae;}
.hmin {color: chartreuse;}
.hmax {color: darkolivegreen;}
.hmean {color: chartreuse3;}
.pmin {color: darkorchid4;}
.pmax {color: orchid1;}
.pmean {color: purple;}
.wmean {color: red;}
.wmax {color: firebrick1;}
.gust {color: firebrick2;}
.wdir {color: firebrick3;}
.rain {color: royalblue;}
.hrmax {color: royalblue1;}
.tenmax {color: royalblue2;}
.rate {color: royalblue3;}
.dmin {color: darkseagreen;}
.dmax {color: darkslategray;}
.dmean {color: darkseagreen4;}
.t24min {color: darkseagreen4;}
.trange {color: green;}
.sunhr {color: #ff3;}
.wethr {color: aqua;}
.rdays {color: #57d;}
.days_frost {color: #33f;}
.days_storm {color: #ee5;}
.days_snow {color: #4ad;}
.days_snowfall {color: #5cf;}
.sunmax{ color:#883;}
.leveltemp_0 { background-color: #0000cc; color: white; border: 1px solid #6C8288;}
.leveltemp_1 { background-color: #035CB5; color: white; border: 1px solid #6C8288;}
.leveltemp_2 { background-color: #10AFE4; border: 1px solid #6C8288;}
.leveltemp_3 { background-color: #00FFC4; border: 1px solid #6C8288;}
.leveltemp_4 { background-color: #07EA57; border: 1px solid #6C8288;}
.leveltemp_5 { background-color: #C8FB11; border: 1px solid #6C8288;}
.leveltemp_6 { background-color: #FFDE00; border: 1px solid #6C8288;}
.leveltemp_7 { background-color: #FF9933; border: 1px solid #6C8288;}
.leveltemp_8 { background-color: #F65A17; color: white; border: 1px solid #6C8288;}
.leveltemp_9 { background-color: #DA103C; color: white; border: 1px solid #6C8288;}
.levelhumi_0 { background-color: #F3E2A9; border: 1px solid #6C8288;}
.levelhumi_1 { background-color: #F7D358; border: 1px solid #6C8288;}
.levelhumi_2 { background-color: #FFBF00; border: 1px solid #6C8288;}
.levelhumi_3 { background-color: #D7DF01; border: 1px solid #6C8288;}
.levelhumi_4 { background-color: #A5DF00; border: 1px solid #6C8288;}
.levelhumi_5 { background-color: #74DF00; border: 1px solid #6C8288;}
.levelhumi_6 { background-color: #31B404; border: 1px solid #6C8288;}
.levelhumi_7 { background-color: #329511; border: 1px solid #6C8288;}
.levelhumi_8 { background-color: #0B6121; color: #C4C9C2; border: 1px solid #6C8288;}
.levelpress_0 { background-color: #0000cc; color: white; border: 1px solid #6C8288;}
.levelpress_1 { background-color: #035CB5; color: white; border: 1px solid #6C8288;}
.levelpress_2 { background-color: #10AFE4; border: 1px solid #6C8288;}
.levelpress_3 { background-color: #00FFC4; border: 1px solid #6C8288;}
.levelpress_4 { background-color: #07EA57; border: 1px solid #6C8288;}
.levelpress_5 { background-color: #C8FB11; border: 1px solid #6C8288;}
.levelpress_6 { background-color: #FFDE00; border: 1px solid #6C8288;}
.levelpress_7 { background-color: #FF9933; border: 1px solid #6C8288;}
.levelpress_8 { background-color: #F65A17; color: white; border: 1px solid #6C8288;}
.levelpress_9 { background-color: #DA103C; color: white; border: 1px solid #6C8288;}
.levelwind_0 { background-color: #D9FDFC; border: 1px solid #6C8288;}
.levelwind_1 { background-color: #B1FFFF; border: 1px solid #6C8288;}
.levelwind_2 { background-color: #66FF94; border: 1px solid #6C8288;}
.levelwind_3 { background-color: #99FF00; border: 1px solid #6C8288;}
.levelwind_4 { background-color: #99CC00; border: 1px solid #6C8288;}
.levelwind_5 { background-color: #CCCC00; border: 1px solid #6C8288;}
.levelwind_6 { background-color: #FFCC00; border: 1px solid #6C8288;}
.levelwind_7 { background-color: #FF9900; border: 1px solid #6C8288;}
.levelwind_8 { background-color: #FF6600; border: 1px solid #6C8288;}
.levelwind_9 { background-color: #FF0000; color: #C4C9C2; border: 1px solid #6C8288;}
.leveldegr_0 { background-color: #F6CECE; border: 1px solid #6C8288;}
.leveldegr_1 { background-color: #F6E3CE; border: 1px solid #6C8288;}
.leveldegr_2 { background-color: #F5F6CE; border: 1px solid #6C8288;}
.leveldegr_3 { background-color: #E3F6CE; border: 1px solid #6C8288;}
.leveldegr_4 { background-color: #CEF6D8; border: 1px solid #6C8288;}
.leveldegr_5 { background-color: #CED8F6; border: 1px solid #6C8288;}
.leveldegr_6 { background-color: #CEB3FA; border: 1px solid #6C8288;}
.leveldegr_7 { background-color: #F6CEE3; border: 1px solid #6C8288;}
.levelrain_0 { background-color: #94939A; border: 1px solid #6C8288;}
.levelrain_1 { background-color: #918AA7; border: 1px solid #6C8288;}
.levelrain_2 { background-color: #CCFFFF; border: 1px solid #6C8288;}
.levelrain_3 { background-color: #99FFCC; border: 1px solid #6C8288;}
.levelrain_4 { background-color: #9EDFFD; border: 1px solid #6C8288;}
.levelrain_5 { background-color: #9AACFF; border: 1px solid #6C8288;}
.levelrain_6 { background-color: #7980FF; border: 1px solid #6C8288;}
.levelrain_7 { background-color: #3F48F9; color: white; border: 1px solid #6C8288;}
.levelrain_8 { background-color: #010EFE; color: white; border: 1px solid #6C8288;}
.levelrain_9 { background-color: #050EAB; color: white; border: 1px solid #6C8288;}
.levelrain_10 { background-color: #050D97; color: white; border: 1px solid #6C8288;}
.levelrain_11 { background-color: #0B0B3B; color: white; border: 1px solid #6C8288;}
.levelrtmax_0 { background-color: #94939A; border: 1px solid #6C8288;}
.levelrtmax_1 { background-color: #918AA7; border: 1px solid #6C8288;}
.levelrtmax_2 { background-color: #CCFFFF; border: 1px solid #6C8288;}
.levelrtmax_3 { background-color: #99FFCC; border: 1px solid #6C8288;}
.levelrtmax_4 { background-color: #9EDFFD; border: 1px solid #6C8288;}
.levelrtmax_5 { background-color: #9AACFF; border: 1px solid #6C8288;}
.levelrtmax_6 { background-color: #7980FF; border: 1px solid #6C8288;}
.levelrtmax_7 { background-color: #3F48F9; color: white; border: 1px solid #6C8288;}
.levelrtmax_8 { background-color: #010EFE; color: white; border: 1px solid #6C8288;}
.levelrtmax_9 { background-color: #050EAB; color: white; border: 1px solid #6C8288;}
.levelrtmax_10 { background-color: #050D97; color: white; border: 1px solid #6C8288;}
.levelrtmax_11 { background-color: #0B0B3B; color: white; border: 1px solid #6C8288;}
.leveltchg_0 { background-color: #0000cc; color: white; border: 1px solid #6C8288;}
.leveltchg_1 { background-color: #035CB5; color: white; border: 1px solid #6C8288;}
.leveltchg_2 { background-color: #10AFE4; border: 1px solid #6C8288;}
.leveltchg_3 { background-color: #00FFC4; border: 1px solid #6C8288;}
.leveltchg_4 { background-color: #07EA57; border: 1px solid #6C8288;}
.leveltchg_5 { background-color: #C8FB11; border: 1px solid #6C8288;}
.leveltchg_6 { background-color: #FFDE00; border: 1px solid #6C8288;}
.leveltchg_7 { background-color: #FF9933; border: 1px solid #6C8288;}
.leveltchg_8 { background-color: #F65A17; color: white; border: 1px solid #6C8288;}
.leveltchg_9 { background-color: #DA103C; color: white; border: 1px solid #6C8288;}
.levelhchg_0 { background-color: #F3E2A9; border: 1px solid #6C8288;}
.levelhchg_1 { background-color: #F7D358; border: 1px solid #6C8288;}
.levelhchg_2 { background-color: #FFBF00; border: 1px solid #6C8288;}
.levelhchg_3 { background-color: #D7DF01; border: 1px solid #6C8288;}
.levelhchg_4 { background-color: #A5DF00; border: 1px solid #6C8288;}
.levelhchg_5 { background-color: #74DF00; border: 1px solid #6C8288;}
.levelhchg_6 { background-color: #31B404; border: 1px solid #6C8288;}
.levelhchg_7 { background-color: #329511; border: 1px solid #6C8288;}
.levelhchg_8 { background-color: #0B6121; color: #C4C9C2; border: 1px solid #6C8288;}
.levelprng_0 { background-color: #0000cc; color: white; border: 1px solid #6C8288;}
.levelprng_1 { background-color: #035CB5; color: white; border: 1px solid #6C8288;}
.levelprng_2 { background-color: #10AFE4; border: 1px solid #6C8288;}
.levelprng_3 { background-color: #00FFC4; border: 1px solid #6C8288;}
.levelprng_4 { background-color: #07EA57; border: 1px solid #6C8288;}
.levelprng_5 { background-color: #C8FB11; border: 1px solid #6C8288;}
.levelprng_6 { background-color: #FFDE00; border: 1px solid #6C8288;}
.levelprng_7 { background-color: #FF9933; border: 1px solid #6C8288;}
.levelprng_8 { background-color: #F65A17; color: white; border: 1px solid #6C8288;}
.levelprng_9 { background-color: #DA103C; color: white; border: 1px solid #6C8288;}
.leveldhrs_0 { background-color: #888; border: 1px solid #6C8288;}
.leveldhrs_1 { background-color: #F5E2A9; border: 1px solid #6C8288;}
.leveldhrs_2 { background-color: #F1D787; border: 1px solid #6C8288;}
.leveldhrs_3 { background-color: #F2C181; border: 1px solid #6C8288;}
.leveldhrs_4 { background-color: #F4B462; border: 1px solid #6C8288;}
.leveldhrs_5 { background-color: #E9A245; border: 1px solid #6C8288;}
.leveldhrs_6 { background-color: #F2A86B; border: 1px solid #6C8288;}
.leveldhrs_7 { background-color: #EE9348; border: 1px solid #6C8288;}
.leveldhrs_8 { background-color: #DC7B2B; border: 1px solid #6C8288;}
.leveldhrs_9 { background-color: #EB8965; border: 1px solid #6C8288;}
.leveldhrs_10 { background-color: #E46B3F; color: white; border: 1px solid #6C8288;}
.leveldhrs_11 { background-color: #D85A3A; color: white; border: 1px solid #6C8288;}
