/* CSS file for Site v3 */
#background {
	margin-left:auto;
	margin-right:auto;
	margin-top:1px;
	background-color: #D7E2D8;
	background-image:url('../img/background.jpg');
	background-repeat:no-repeat;
	background-position:center top;
}
#page {
	margin: 0px auto;
	color: black;
	background-color: white;
	padding: 0;
	width: 1012px;
	border: 1px solid #0B6121;
}

body {
	color: black;
	background-color: rgb(243,242,235);
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 73%;	/* Enables font size scaling in MSIE */
	margin: 0;
	padding: 0;
}
html > body {
	font-size: 9pt;
}

.big {
	font-size: 150%;
}


/******************Header***************************/
#header {
	font-family: arial;
	color: #EFEFFB;
	width: 1012px;
	background-color:#0B6121;
}

#header table	{
	font-size: 150%;
	padding-top: 5px;
}

#header img	{
	border: none;
}

.subHeader {
	color: white;
	float: left;
	clear: left;
	color: #41FC08;
	background-color: black;
	font-size: 115%;
	margin: 0;
	padding: 6px;
	width: 200px;
}

.subHeaderR {
	text-align: right;
	color: white;
	background-color: black;
	font-size: 115%;
	margin: 0;
	padding: 6px;
}

/******************Sidebar***************************/
.leftSideBar {
	width: 124px;
	float: left;
	background-color: #FFFBF2;
}

.leftSideBar .sideBarTitle {
	color: rgb(44,44,34);
	background-color: #CECBD0;
	font-weight: bold;
	margin: 0;
	padding: 6px;
}

.leftSideBar ul {
	list-style-type: none;
	list-style-position: outside;
	margin: 0.1em;
	padding: 0;
}

.leftSideBar li {
	margin: 0 0 0 0.2em;
	padding: 0;
}

.leftSideBar a {
	color: rgb(64,64,64);
	background-color: transparent;
	text-decoration: none;
	display: block;
	padding: 0.33em;
}

.leftSideBar a:visited {
	color: #607080;
	background-color: transparent;
	text-decoration: none;
}

.leftSideBar a:hover {
	color: #357C23;
	background-color: rgba(169,197,204,0.5);
	text-decoration: none;
}

.leftSideBar .sideBarText {
	margin: 0.4em;
	padding: 0;
	display: block;
	font-weight: bold;
}

.leftSideBar .curr {
	background-color: rgba(19,197,10,0.11);
	font-weight: bold;
	padding: 0.4em;
}

/******************Info boxes***************************/
.statusBox {
	font-size: 105%;
	font-family: arial, verdana, helvetica, sans-serif;
	width: 835px;
	margin: 2px 4px 3px 4px;
	padding: 0.4em;
	text-align: center;
}

.warning {
	color: #310;
	background-color:#f4afb1;
	border: 2px solid #d58;
}

.info {
	color: #031;
	background-color:#aff4b1;
	border: 1px solid #7ca;
}

/******************Main***************************/
#main {
	font-family: "Trebuchet MS", verdana, helvetica, arial, sans-serif;
	font-size: 110%;
	color: #000000;
	width: 883px;
	margin-left:120px;
	padding: 3px 2px 2px 7px;
	background-color:#F2FAFD;
	min-height: 800px;
}

#main a {
	color: #0B610B;
	background-color: transparent;
	text-decoration: underline;
}

#main form {
	display: inline;
}

#main h1 {
	color: #15866A;
	background-color: transparent;
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 170%;
	font-weight: bold;
	margin: 0.5em 0.3em 0.3em 0.3em;
	padding: 0.2em 0.2em 0.2em 0.2em;
	border-top: 1px solid rgb(60,210,40);
}

#main h2 {
	color: #168843;
	background-color: transparent;
	font-size: 140%;
	font-weight: bold;
	margin-left: 0.4em;
}

#main h3 {
	color: #05664A;
	background-color: transparent;
	font-size: 120%;
	font-weight: bold;
	margin-left: 0.5em;
}

#main a:hover {
	text-decoration: none;
}

abbr {
	border-bottom: 1px dotted;
}

p {
	margin: 1em 0 1.5em 0;
	padding: 0;
}

dt {
	font-size: 110%;
}
dl {
	margin: 0.7em;
}

button {
	margin: 0.6em;
	display: block;
	padding: 0.3em;
}

select {
	 padding: 0.25em;
}

.tblfoot {
	font-weight: bold;
	background-color: #BDB;
}

.rightPad {
	margin-right: 19px;
}

thead {
	color: black;
	background-color: #DBEBEE;
	text-align: left;
	font-weight: bold;
	font-size: 110%;
}

.table-head {
	background-color: #BDCDF7;
	font-weight: bold;
	font-size: 123%;
}

.table-mainFoot {
	margin: 20px 1px;
	text-align: left;
	background-color: #E4FDE7;
	border: 1px solid #2D851B;
}

.table-mainFoot td {
	border: 1px solid #2D851B;

}

.table-main {
	text-align: left;
}

.tdmain {
	padding: 10px;
}

table tbody tr.current, #current_month .month_multispan {
	background-color: #CCF5B1;
}

.td12 {
	border: solid 1px rgb(157,172,238);
	text-align: center;
}

.td6 {
	border: solid 1px #9A83B0;
	text-align: center;
}

.table2 {
	border: ridge 6px #2E9D30;
	text-align: left;
}

table {
	border: 2px solid rgb(175,175,175);
	border-spacing: 0px;
	margin: 2px;
	color: black;
	background-color: rgb(233,232,225);
}
tbody tr {
	background-color: #eee;
	height: 2em;
}
tbody tr:nth-child(2n) {
	background-color: white;
}
tbody tr:hover {
	background-color: rgba(235, 175, 206, 0.34);
}
.td14 {
	border: solid 1px #D8CEF6;
	border-spacing: 1px;
	text-align: center;
}

.td10 {
	border: solid 1px rgb(157,231,157);
	border-spacing: 1px;
	text-align: center;
}

.td13 {
	border: solid 1px rgb(255,151,151);
	border-spacing: 1px;
	text-align: center;
}

td {
	border: solid 1px #D8D1C6;
	padding: 2px 3px;
	text-align: center;
}
td:first-child {
	font-weight: bold;
}

td.month_multispan {
	background-color: #ddd;
}
td.month_multispan.odd {
	background-color: #bbb;
}

.td16 {
	border: solid 1px #9F81F7;
	border-spacing: 1px;
	text-align: center;
}

.td18 {
	border: solid 1px #F2F5A9;
	border-spacing: 1px;
	text-align: center;
}

.td19 {
	border: solid 1px #CEF6F5;
	border-spacing: 1px;
	text-align: center;
}

.td20 {
	border: solid 1px #868A08;
	border-spacing: 1px;
	text-align: center;
}

.td4e {
	border-left: solid 2px rgb(143,208,246);
	border-spacing: 4px;
}

.td4C {
	color: #2E0A10;
	text-align: center;
	border: solid 1px #CAB99D;
}

.td10C {
	color: #2D851B;
	text-align: center;
	border: solid 1px #CAB99D;
}

.td14C {
	color: #DF7401;
	text-align: center;
	border: solid 1px #CAB99D;
}

.td12C {
	color: #3567EF;
	text-align: center;
	border: solid 1px #CAB99D;
}

.td13C {
	color: #DA1313;
	text-align: center;
	border: solid 1px #CAB99D;
}

.td16C {
	border: solid 1px #CAB99D;
	color: #7055BF;
	text-align: center;
}

.td18C {
	border: solid 1px #CAB99D;
	color: #69611A;
	text-align: center;
}
.td19C {
	border: solid 1px #CAB99D;
	color: #1B6A75;
	text-align: center;
}
.td20C {
	border: solid 1px #CAB99D;
	color: #626412;
	text-align: center;
}

/******************Footer***************************/
#footer {
	font-family: arial;
	color: #000000;
	width: 1012px;
	background-color:#F2F5A9;
	text-align: center;
	padding: 3px 0px 3px 0px;
}

#footer a {
	color: black;
	background-color: transparent;
	text-decoration: underline;
	font-weight: bold;
}

#footer a:visited {
	color: rgb(112,128,144);
	background-color: transparent;
	text-decoration: underline;
	font-weight: bold;
}

#footer a:hover {
	text-decoration: none;
}

.aboutTbl {
	margin: 0.7em;
}

.aboutTbl td {
	text-align: center;
	padding: 0.3em 0.8em;
	border: solid 1px #CAB99D;
	border-spacing: 1px;
}

.aboutTbl tfoot {
	background-color: #A5DF40;
	font-weight: bold;
}

/* PHOTO ALBUMS */
.album_cover {
	width: 200px;
	height: 150px;
	border: 1px solid #152;
}
#slideshow_control button {
	display: inline-block;
}
.large_photo .img_holder {
	display: inline-block;
	height: 640px;
}
.large_photo img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}
.mini_photo {
	width: 220px;
}

.about_photo {
	margin: 0.2em;
	width: 420px;
}
.about_photo_solo {
	margin: 0.8em;
	width: 840px;
}

#contact_form {
	width: 600px;
}

.loading {
	background-image: url('../img/loader.gif');
	background-repeat: no-repeat;
}

input[type=submit] {
	padding: 0.3em;
	margin: 0.1em;
}

#email_address {
	color: blue;
}

.climate_graph {
	height: 400px;
	width: 850px;
	display: block;
	margin: 1em;
}



/*
    Document   : valcolstyle
    Created on : 20-Apr-2013, 15:15:25
    Author     : Ben LR
    Description: CSS file for summary and detailed historical reports
*/
table.data_report {
	width: 99.5%;
}
table.data_report thead td {
	width: 7.9%;
}
table.data_report thead td:first-child {
	width: 5.2%;
	border-left: none;
}
table.data_report tbody tr {
	height: 1.7em;
}
table.data_report td {
	border-top: none;
	border-right: none;
	border-color: rgb(108, 130, 136);
}
table.data_report td.day {
	border-left: none;
	border-bottom: inherit;
}
table.data_report td.noday {
	background-color: #ddd;
	border-bottom: none;
}
table.data_report td.notyetday {
	background-color: #ccc;
}
table.data_report td.null {
	background-color: #a1a7a9;
}

table.data_report.summary {
	margin-top: 1em;
}
table.data_report.summary tbody td {
	border-bottom: 2px solid #eee;
}
table.data_report.summary tbody tr {
	height: 2.3em;
}

#data_report_header {
	padding: 1em;
}
#data_report_header form {
}
#data_report_header form label {
	padding: 0 0.4em 0 2em;
	font-size: 125%;
	font-weight: bold;
}
#data_report_header form label > input {
	padding: 0 0 0 0.2em;
}
#data_report_header form .variable {
	color: green;
}
#data_report_header form .year {
	color: #8904B1;
}
#data_report_header .arrow {
	display: inline-block;
	cursor: pointer;
	color: #777;
	font-size: 150%;
}
#data_report_header .arrow:hover {
	color: #aaa;
}
#data_report_header form > div {
	display: inline;
}


/* AUTO-GENERATED */
.tmin {color:#33f}
.tmax {color:orange}
.tmean {color:#aae}
.hmin {color:chartreuse}
.hmax {color:darkolivegreen}
.hmean {color:#283}
.pmin {color:#fab}
.pmax {color:#e9a}
.pmean {color:purple}
.wmean {color:red}
.wmax {color:#f33}
.gust {color:#f44}
.wdir {color:#f77}
.rain {color:royalblue}
.hrmax {color:#55e}
.r10max {color:#77e}
.rate {color:#99f}
.dmin {color:darkseagreen}
.dmax {color:darkslategray}
.dmean {color:#2a3}
.t24min {color:#227}
.trange {color:green}
.sunhr {color:#ff3}
.wethr {color:aqua}
.rdays {color:#57d}
.days_frost {color:#33f}
.days_storm {color:#ee5}
.days_snow {color:#4ad}
.days_snowfall {color:#5cf}
.sunmax {color:#883}
.temperature_level_0 {background-color:#00c;color:#fff}
.temperature_level_1 {background-color:#035cb5;color:#fff}
.temperature_level_2 {background-color:#10afe4}
.temperature_level_3 {background-color:#00ffc4}
.temperature_level_4 {background-color:#07ea57}
.temperature_level_5 {background-color:#c8fb11}
.temperature_level_6 {background-color:#fd0}
.temperature_level_7 {background-color:#f93}
.temperature_level_8 {background-color:#f65a17;color:#fff}
.temperature_level_9 {background-color:#da103c;color:#fff}
.rain_level_0 {background-color:#94939a}
.rain_level_1 {background-color:#918aa7}
.rain_level_2 {background-color:#cff}
.rain_level_3 {background-color:#9fc}
.rain_level_4 {background-color:#9edffd}
.rain_level_5 {background-color:#9aacff}
.rain_level_6 {background-color:#7980ff}
.rain_level_7 {background-color:#3f48f9;color:#fff}
.rain_level_8 {background-color:#010efe;color:#fff}
.rain_level_9 {background-color:#050eab;color:#fff}
.rain_level_10 {background-color:#050d97;color:#fff}
.rain_level_11 {background-color:#0b0b3b;color:#fff}
.pressure_level_0 {background-color:#11c;color:#fff}
.pressure_level_1 {background-color:#05b;color:#fff}
.pressure_level_2 {background-color:#1ad}
.pressure_level_3 {background-color:#0ec}
.pressure_level_4 {background-color:#1e5}
.pressure_level_5 {background-color:#cf1}
.pressure_level_6 {background-color:#fe0}
.pressure_level_7 {background-color:#fa4}
.pressure_level_8 {background-color:#f62;color:#fff}
.pressure_level_9 {background-color:#d14;color:#fff}
.wind_level_0 {background-color:#d9fdfc}
.wind_level_1 {background-color:#aff}
.wind_level_2 {background-color:#6f9}
.wind_level_3 {background-color:#9f0}
.wind_level_4 {background-color:#9c0}
.wind_level_5 {background-color:#cc0}
.wind_level_6 {background-color:#fc0}
.wind_level_7 {background-color:#f90}
.wind_level_8 {background-color:#f60}
.wind_level_9 {background-color:#f00;color:#fff}
.humidity_level_0 {background-color:#f3e2a9}
.humidity_level_1 {background-color:#f7d358}
.humidity_level_2 {background-color:#fb0}
.humidity_level_3 {background-color:#d7df01}
.humidity_level_4 {background-color:#a5df00}
.humidity_level_5 {background-color:#74df00}
.humidity_level_6 {background-color:#31b404}
.humidity_level_7 {background-color:#329511}
.humidity_level_8 {background-color:#0b6121;color:#C4C9C2}
.hours_level_0 {background-color:#888}
.hours_level_1 {background-color:#f5e2a9}
.hours_level_2 {background-color:#f1d787}
.hours_level_3 {background-color:#f2c181}
.hours_level_4 {background-color:#f4b462}
.hours_level_5 {background-color:#e9a245}
.hours_level_6 {background-color:#f2a86b}
.hours_level_7 {background-color:#ee9348}
.hours_level_8 {background-color:#dc7b2b}
.hours_level_9 {background-color:#eb8965}
.hours_level_10 {background-color:#e46b3f;color:#fff}
.hours_level_11 {background-color:#d85a3a;color:#fff}
.rain_rate_level_0 {background-color:#94939a}
.rain_rate_level_1 {background-color:#918aa7}
.rain_rate_level_2 {background-color:#cff}
.rain_rate_level_3 {background-color:#99ffcc}
.rain_rate_level_4 {background-color:#9edffd}
.rain_rate_level_5 {background-color:#9aacff}
.rain_rate_level_6 {background-color:#7980ff}
.rain_rate_level_7 {background-color:#3f48f9;color:#fff}
.rain_rate_level_8 {background-color:#010efe;color:#fff}
.rain_rate_level_9 {background-color:#050eab;color:#fff}
.rain_rate_level_10 {background-color:#050d97;color:#fff}
.rain_rate_level_11 {background-color:#0b0b3b;color:#fff}
.direction_level_0 {background-color:#f6cece}
.direction_level_1 {background-color:#f6e3ce}
.direction_level_2 {background-color:#f5f6ce}
.direction_level_3 {background-color:#e3f6ce}
.direction_level_4 {background-color:#cef6d8}
.direction_level_5 {background-color:#ced8f6}
.direction_level_6 {background-color:#ceb3fa}
.direction_level_7 {background-color:#f6cee3}
.absolute_temperature_level_0 {background-color:#00c;color:#fff}
.absolute_temperature_level_1 {background-color:#035cb5;color:#fff}
.absolute_temperature_level_2 {background-color:#10afe4}
.absolute_temperature_level_3 {background-color:#00ffc4}
.absolute_temperature_level_4 {background-color:#07ea57}
.absolute_temperature_level_5 {background-color:#c8fb11}
.absolute_temperature_level_6 {background-color:#fd0}
.absolute_temperature_level_7 {background-color:#f93}
.absolute_temperature_level_8 {background-color:#f65a17;color:#fff}
.absolute_temperature_level_9 {background-color:#da103c;color:#fff}
