SiteV3_toPort/
SiteV3_original/
static/js/lib/
nw3/log/*
nw3/lib/Twig
nw3/data/live/*
config.php


nw3/lib/jpgraph/*
!nw3/lib/jpgraph/jpgraph.php
!nw3/lib/jpgraph/jpgraph_bar.php
!nw3/lib/jpgraph/jpgraph_date.php
!nw3/lib/jpgraph/jpgraph_line.php
!nw3/lib/jpgraph/jpgraph_theme.inc.php

!*README.md