order deny,allow
deny from all
allow from 173.63.204.146

RewriteEngine on

# Strip trailing slashes. Take care to set the RewriteBase correctly
RewriteBase /oldSites/Site_v4/
RewriteCond %{REQUEST_URI} !static
RewriteRule (.*)/+$ $1 [R=301,L]

# Rewrite non-static URLs to PHP handler
RewriteRule !^static/ index.php [L]